*{
	box-sizing: border-box;
}

html,body{
	min-height: 100%; 
	padding: 0;
	margin: 0;
	background-color: white;
}

header{
	/*position: fixed;
	z-index: 1;*/
	position: relative;
	top: 0;
	height: 140px;
	width: 100%;

	background-color: white;
	

}
.headercontent{
	position: relative;
	height: 100%;
	margin: auto;
	max-width: 1200px;

	text-align: center;
	border-bottom: 0.5px solid rgba(45, 49, 145, .5);

}



.searchdiv{
	position: absolute;
	top: 10%;
	left: 0;
	line-height: 30px;
	
}
.searchbar{
	height: 30px;
	 outline: none;
	 padding: 5px;
	 width: 300px;
	border:1px solid rgb(45,49,145);
	border-radius: 1px;
	float: left;
	color: rgb(45,49,145);
}

.searchbtn{
	padding: 0;

	height: 30px;
	width: 30px;
	background-color: rgb(45,49,145);
	border:none;
	outline: none;
	cursor: pointer;
	border-radius: 1px;
	vertical-align: bottom;

}
.searchicon{
	padding: 0;
	margin: 0;
	height: 20px;
	width: 20px;
}

.logo{
	height: 100px;
	width: 100px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%); 

}
.cartdiv{

	height:40px;
	line-height: 40px;
	width: 100px;
	position: absolute;
	top: 10%;
	right: 0%;
	
	opacity: 0.5;

}
.carticon{
	height:40px;
	width: 40px;
	position: absolute;
	left: 0;
	

}

.cartcount{
	position: absolute;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: rgb(230,0,142);
	color: white;
	left: 30px;
	text-align: center;
vertical-align: middle;
line-height: 20px; 
	padding: 0;
	margin:0;
	
}
p{
	margin:0;
}
.cartdiv:hover, .homeicon:hover{
	opacity: 1;
}

.topnav{
	
	width: 100%;
	height:auto;
	margin:0px 0;
	position: relative;
	top:100px;
	
	/*position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);*/

}
.topnav ul{
	padding:0;
}

.topnav ul li{
	display: inline-block;
	list-style: none;
	padding:0 50px;


}
.topnav ul li a{
	text-decoration: none;
	color: rgb(45,49,145);
	padding: 5px;
	font-style: bold;
	font-size: 20px;
}

.topnav ul li a:hover{
color: rgb(230,0,142);
}

