.homecontent{
	position: relative;
	margin-top: 10px;
	
	padding: 10px;

	margin-left: auto;
	margin-right: auto;
	
	max-width: 1200px;
	min-height:90%;
}

.slideshow{

	height: 600px;
	width: 1000px;
	position:relative;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	
}

.imgholder{
	left: 10px;
	position: absolute;
	top: 10px;
	right: 10px;
	bottom: 10px;
	
	overflow: hidden;
}

.img{
	object-fit: cover;
	position: absolute;
	
	
	
	min-height: 100%;
	width: 100%;
	
}

.show{
	animation-name: slidein;
animation-duration: 2s;
animation-timing-function: ease-in-out;
animation-fill-mode: forwards;
}
@keyframes slidein{
	from{
		left: 100%;
	}
	to{
		left: 0;
	}
}

@keyframes slideout{
	from{
		left: 0;
	}
	to{
		left: -100%;
	}
}
.hide{
animation-name: slideout;
animation-fill-mode: forwards;
animation-duration: 2s;
animation-timing-function: ease-in-out;
}

.slideshowlabel{
	position: absolute;
	top: 5%;
	color: white;
	left: 5%;
	/*transform: translate(-50%,-50%);*/
	z-index: 1;
	font-size: 50px;
}
.categorycards{
	width: 100%;
	height: 800px;
	padding: 20px 20px;
	position: relative;
}

.card{
	margin: 50px 0;
	height: 500px;
	width: 300px;
	background-color: #f2f2f2;
	border:1px solid #e6e6e6;
	position: absolute;
	top: 50%;
	transform: translate(-50%,-50%);
	overflow: hidden;
	box-shadow: none;
	transition: box-shadow;
	transition-duration: 0.2s;

	transition-timing-function: ease-in-out;
}
.f{
left: 20%;
}
.s{
left: 50%;
}
.t{
left: 80%;
}
.categorycardslabel{
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%,0);
	color: black;
	font-size: 50px;
}

.cardimg{
	object-fit: cover;
	width: 100%;
	height: 80%;

}

.cardlabel{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 30px;
	color: rgb(45,49,149);
	font-style: bold;
	
}
a{
	text-decoration: none;
}
.card:hover{
	
	box-shadow: 0 0 10px grey;
}