
.viewcontainer{

	position: relative;
	margin-top: 50px;
	
	padding: 10px;
	
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	max-width: 1200px;
	min-height: 100%;

}
.viewimagelist{
	float: left;
	width: 15%;
	padding-left: 2px;
	height: 500px;
	
	margin: 10px;

}

.imagelistitem{
	max-height: 200px;
	width: 100%;
}
.imagelistitem:hover{
	border:1px solid rgb(230,0,142);
}

.viewimages{
	 float: left;
min-height: 800px;
	padding: 10px;
	width: 50%;
	position: relative;

}

.sharediv{
	bottom: 0;
	position: absolute;
	left: 30%;
  

	}
	.share{
	display: inline;	
	float: left;
	padding-top: 10px;
	padding-right: 30px;
	
	
}
.viewimage{
	width: 100%;
	max-height: 90%;
  	position: absolute;
  	left: 50%;
  	top: 50%;
  	transform: translate(-50%,-50%);
 
}

.viewname{	
	text-align: center;
	font-size: 70px;
	
}

.viewcontainer > h1,p{
	margin: 0;
}

hr{
	text-align: center;
	width: 300px;
	color: rgb(45,49,145);
	opacity: 0.5;
}


.select{

	font-size: 25px;
	text-decoration: bold;
	margin-bottom: 10px;
}

.viewitemcode,.viewsize,.viewcolor,.viewquantity,.viewprice,.viewdescription{
	text-align: center;

}


.viewitemcode{
	padding-bottom: 25px;
	font-style: italic;
}
.viewsize{
	
	padding-top: 25px;
	padding-bottom: 10px;
}

.viewcolor{
	padding-bottom: 10px;
}
.viewquantity{
	padding-bottom: 25px;
}
.viewprice{
	padding-top: 40px;
	padding-bottom: 25px: 

}
.add{
	background-color: rgb(45,49,145);
	color: white;
	margin:20px auto 50px auto;
    display:block;
    width: 200px;
    height: 40px;
    border-style: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px grey;
}
.add:hover{
	background-color: #1d2062;
}

.viewdescription{
	padding-top: 25px;
	padding-bottom: 25px;
}

.radio{
	display: none;

}

.radiolabel{
	display: inline-block;
	height: 30px;
	width: auto;
	padding:0 10px;
	text-align: center;
	line-height: 30px;
	vertical-align: middle;
	background-color: rgba(45,49,145,0.5);
	color: white;
	font-style: bold;
	cursor: pointer;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.radio:checked + .radiolabel{
	background-color: rgb(45,49,145);
}

.radiolabel:hover{
	background-color:rgba(45,49,145,0.75)
}

.quantitycounter{
	height: 30px;
	width: 50px;
	border:1px solid #808080;
	border-radius: 2px;
	appearance:none;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	-moz-appearance:textfield;  /*spinner removing for firefox*/
}

/* Webkit browsers like Safari and Chrome */
.quantitycounter::-webkit-inner-spin-button,
.quantitycounter::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantitybtn{
	background-color: #e7e7e7;
	border:1px solid #808080;
	border-radius: 2px;
	height: 30px;
	width: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;

}


.quantitybtn:hover{
	background-color: #d9d9d9;
}