
@media (min-width: 1200px){
.content{
	min-height: 700px;
	margin-top: 120px;
	height: auto;
	position: relative;
}

.message{
position: absolute;
	left: 50%;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 30px;
}
.infopic{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
	
	height: 60px;
	width: 60px;
	
}
.id{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 20px;
}
.btn{
	height: 50px;
	width: 30%;
	position:absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	background-color: #4f53c9;
	color: white;
border-style: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px grey;

}

.btn:hover{
	background-color: rgb(45,49,145);
}
}



@media only screen and (max-width:1200px) and (min-width: 640px){
.content{
	min-height: 1000px;
	margin-top: 120px;
	height: auto;
	position: relative;
}
.infopic{

}
.message{
position: absolute;
	left: 50%;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 40px;
}
.infopic{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
	
	height: 60px;
	width: 60px;
	
}
.id{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 20px;
}
.btn{
	height: 80px;
	width: 60%;
	position:absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	background-color: #4f53c9;
	color: white;
border-style: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px grey;

}

.btn:hover{
	background-color: rgb(45,49,145);
}
}


@media only screen and (max-width: 639px){
.content{
	min-height: 1000px;
	margin-top: 200px;
	height: auto;
	position: relative;
}
.infopic{
	position: absolute;
	left: 50%;
	top: 30%;
	transform: translate(-50%,-50%);
	
	height: 80px;
	width: 80px;
	
}

.message{
position: absolute;
	left: 50%;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 50px;
}

.id{
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 30px;
}
.btn{
	height: 80px;
	width: 80%;
	position:absolute;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	background-color: #4f53c9;
	color: white;
border-style: none;
    border-radius: 5px;
    font-size: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 10px grey;

}

.btn:hover{
	background-color: rgb(45,49,145);
}
}