
@media (min-width: 1200px){
.content{
	min-height: 700px;
	margin-top: 200px;
	height: auto;
	position: relative;
}

.message{
position: absolute;
	left: 50%;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 30px;
}


.btn{
	height: 50px;
	width: 30%;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	background-color: #4f53c9;
	color: white;
border-style: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px grey;

}

.btn:hover{
	background-color: rgb(45,49,145);
}
}



@media only screen and (max-device-width:1200px) and (min-device-width: 640px){
.content{
	min-height: 800px;
	margin-top: 200px;
	height: auto;
	position: relative;
}

.message{
position: absolute;
	left: 50%;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 40px;
}


.btn{
	height: 80px;
	width: 60%;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	background-color: #4f53c9;
	color: white;
border-style: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    box-shadow: 0px 4px 10px grey;

}

.btn:hover{
	background-color: rgb(45,49,145);
}
}


@media only screen and (max-device-width: 639px){
.content{
	min-height: 800px;
	margin-top: 200px;
	height: auto;
	position: relative;
}

.message{
position: absolute;
	left: 50%;
	top: 40%;
	width: 100%;
	text-align: center;
	transform: translate(-50%,-50%);
	color: black;
	font-size: 50px;
}


.btn{
	height: 80px;
	width: 80%;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%);
	margin-bottom: 30px;
	background-color: #4f53c9;
	color: white;
border-style: none;
    border-radius: 5px;
    font-size: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 10px grey;

}

.btn:hover{
	background-color: rgb(45,49,145);
}
}